{
  "classes" : {
    "java.util.function.BiConsumer" : "JavaBiConsumer",
    "java.util.function.BiFunction" : "JavaBiFunction",
    "java.util.function.BinaryOperator" : "JavaBinaryOperator",
    "java.util.function.BiPredicate" : "JavaBiPredicate",
    "java.util.function.BinaryOperator" : "JavaBinaryOperator",
    "java.util.function.BooleanSupplier" : "JavaBooleanSupplier",
    "java.util.function.Consumer" : "JavaConsumer",
    "java.util.function.DoubleBinaryOperator" : "JavaDoubleBinaryOperator",
    "java.util.function.DoubleConsumer" : "JavaDoubleConsumer",
    "java.util.function.DoubleFunction" : "JavaDoubleFunction",
    "java.util.function.DoublePredicate" : "JavaDoublePredicate",
    "java.util.function.DoubleSupplier" : "JavaDoubleSupplier",
    "java.util.function.DoubleToIntFunction" : "JavaDoubleToIntFunction",
    "java.util.function.DoubleToLongFunction" : "JavaDoubleToLongFunction",
    "java.util.function.DoubleUnaryOperator" : "JavaDoubleUnaryOperator",
    "java.util.function.Function" : "JavaFunction",
    "java.util.function.IntBinaryOperator" : "JavaIntBinaryOperator",
    "java.util.function.IntConsumer" : "JavaIntConsumer",
    "java.util.function.IntConsumer" : "JavaIntConsumer",
    "java.util.function.IntFunction" : "JavaIntFunction",
    "java.util.function.IntPredicate" : "JavaIntPredicate",
    "java.util.function.IntSupplier" : "JavaIntSupplier",
    "java.util.function.IntToDoubleFunction" : "JavaIntToDoubleFunction",
    "java.util.function.IntToLongFunction" : "JavaIntToLongFunction",
    "java.util.function.IntUnaryOperator" : "JavaIntUnaryOperator",
    "java.util.function.LongBinaryOperator" : "JavaLongBinaryOperator",
    "java.util.function.LongConsumer" : "JavaLongConsumer",
    "java.util.function.LongFunction" : "JavaLongFunction",
    "java.util.function.LongPredicate" : "JavaLongPredicate",
    "java.util.function.LongSupplier" : "JavaLongSupplier",
    "java.util.function.LongToDoubleFunction" : "JavaLongToDoubleFunction",
    "java.util.function.LongToIntFunction" : "JavaLongToIntFunction",
    "java.util.function.LongUnaryOperator" : "JavaLongUnaryOperator",
    "java.util.function.ObjDoubleConsumer" : "JavaObjDoubleConsumer",
    "java.util.function.ObjIntConsumer" : "JavaObjIntConsumer",
    "java.util.function.ObjLongConsumer" : "JavaObjLongConsumer",
    "java.util.function.Predicate" : "JavaPredicate",
    "java.util.function.Supplier" : "JavaSupplier",
    "java.util.function.ToDoubleBiFunction" : "JavaToDoubleBiFunction",
    "java.util.function.ToDoubleFunction" : "JavaToDoubleFunction",
    "java.util.function.ToIntBiFunction" : "JavaToIntBiFunction",
    "java.util.function.ToIntFunction" : "JavaToIntFunction",
    "java.util.function.ToLongBiFunction" : "JavaToLongBiFunction",
    "java.util.function.ToLongFunction" : "JavaToLongFunction",
    "java.util.function.UnaryOperator" : "JavaUnaryOperator"
  }
}


