{
  "classes" : {
    "java.lang.reflect.Array" : "JavaArray",
    "java.lang.Boolean" : "JavaBoolean",
    "java.lang.Byte" : "JavaByte",
    "java.lang.Character" : "JavaCharacter",
    "java.lang.Class" : "JavaClass",
    "java.lang.ClassLoader" : "JavaClassLoader",
    "java.lang.Double" : "JavaDouble",
    "java.lang.Error" : "JavaError",
    "java.lang.Exception" : "Exception",
    "java.lang.Float" : "JavaFloat",
    "java.lang.Integer" : "JavaInteger",
    "java.lang.Long" : "JavaLong",
    "java.lang.Number" : "JavaNumber",
    "java.lang.Object" : "JavaObject",
    "java.lang.RuntimeException" : "RuntimeException",
    "java.lang.Short" : "JavaShort",
    "java.lang.String" : "JavaString",
    "java.lang.Throwable" : "Throwable",
    "java.lang.Void" : "JavaVoid",
    "java.lang.CharSequence": "CharSequence",
    "java.lang.Appendable": "Appendable",
    "java.util.Optional": "JavaOptional",
    "java.util.OptionalDouble": "JavaOptionalDouble",
    "java.util.OptionalInt": "JavaOptionalInt",
    "java.util.OptionalLong": "JavaOptionalLong"
  }
}
