{
  "classes" : {
    "java.lang.annotation.Annotation" : "Annotation",
    "java.lang.reflect.AccessibleObject" : "AccessibleObject",
    "java.lang.reflect.AnnotatedType" : "AnnotatedType",
    "java.lang.reflect.Constructor" : "Constructor",
    "java.lang.reflect.Executable" : "Executable",
    "java.lang.reflect.Field" : "Field",
    "java.lang.reflect.GenericArrayType" : "GenericArrayType",
    "java.lang.reflect.GenericDeclaration" : "GenericDeclaration",
    "java.lang.reflect.Method" : "Method",
    "java.lang.reflect.Parameter" : "Parameter",
    "java.lang.reflect.ParameterizedType" : "ParameterizedType",
    "java.lang.reflect.Type" : "Type",
    "java.lang.reflect.TypeVariable" : "TypeVariable",
    "java.lang.reflect.WildcardType" : "WildcardType"
  }
}
