{
  "classes" : {
    "java.lang.Readable" : "Readable",
    "java.io.Closeable" : "Closeable",
    "java.io.Flushable" : "Flushable",

    "java.io.InputStream" : "InputStream",
    "java.io.BufferedInputStream" : "BufferedInputStream",
    "java.io.InputStreamReader" : "InputStreamReader",

    "java.io.OutputStream" : "OutputStream",

    "java.io.Reader" : "Reader",
    "java.io.FileReader" : "FileReader",
    "java.io.StringReader" : "StringReader",

    "java.io.Writer" : "Writer",
    "java.io.PrintWriter" : "PrintWriter",
    "java.io.StringWriter" : "StringWriter",
    
    "java.io.File" : "File",
    "java.io.FileDescriptor" : "FileDescriptor",

    "java.nio.file.Path" : "Path",
    "java.nio.charset.Charset" : "Charset",
    "java.nio.ByteBuffer" : "ByteBuffer",
    "java.nio.file.WatchService" : "WatchService",
  }
}
