{
  "classes" : {
    "java.io.InputStream" : "InputStream",
    "java.io.BufferedInputStream" : "BufferedInputStream",
    "java.io.InputStreamReader" : "InputStreamReader",

    "java.io.Reader" : "Reader",
    "java.io.FileReader" : "FileReader",
    "java.io.StringReader" : "StringReader",

    "java.io.FileDescriptor" : "FileDescriptor",

    "java.nio.file.WatchService" : "WatchService",
  }
}
