{
  "classes" : {
    "java.util.Collection" : "JavaCollection",
    "java.util.Enumeration" : "Enumeration",
    "java.util.Iterator" : "JavaIterator",
    "java.util.List" : "List",
    "java.util.ListIterator" : "ListIterator",
    "java.util.Queue" : "Queue",
    "java.util.RandomAccess" : "RandomAccess",
    "java.util.Set" : "JavaSet",
    "java.util.ArrayDeque" : "ArrayDeque",
    "java.util.ArrayList" : "ArrayList",
    "java.util.BitSet" : "BitSet",
    "java.util.Dictionary" : "JavaDictionary",
    "java.util.HashMap" : "HashMap",
    "java.util.HashSet" : "HashSet",
    "java.util.PriorityQueue" : "PriorityQueue",
    "java.util.Stack" : "Stack",
    "java.util.TreeMap" : "TreeMap",
    "java.util.TreeSet" : "TreeSet"
  }
}
